<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.EM_KOREA.myapplication">
    <!-- WebService 사용시 추가 할 코드 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".MySession"
        android:allowBackup="true"
        android:icon="@drawable/login1"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".TestXmlPage" />
        <activity android:name=".TestPageActivity" />
        <activity
            android:name=".TestProgressActivity"
            android:theme="@style/halfDim" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SubActivity" />
        <activity
            android:name=".MenuActivity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity android:name=".DownloadActivity" />

        <activity
            android:name=".I10.I10_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I10.I11_HDR_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I10.I11_DTL_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I10.I13_QUERY_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I20.I20_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I20.I21_HDR_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I20.I21_DTL_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I20.I22_HDR_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I20.I22_DTL_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I20.I25_QUERY_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I20.I26_HDR_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" /> <!-- 세로고정 -->
        <activity
            android:name=".I20.I27_HDR_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".I20.I27_DTL_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".I30.I30_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I30.I31_HDR_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I30.I31_DTL_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I30.I34_QUERY_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I30.I35_HDR_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I30.I35_DTL_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I30.I36_QUERY_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I30.I37_HDR_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustNothing" />
        <activity
            android:name=".I30.I37_DTL_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I30.I38_HDR_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I30.I38_DTL_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I30.I39_HDR_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/> <!-- 세로고정 -->
        <activity
            android:name=".I30.I39_DTL_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/> <!-- 세로고정 -->
        <!-- 세로고정 -->
        <activity
            android:name=".I30.I39_SET_Activity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateAlwaysHidden"/> <!-- 세로고정 -->
        <activity
            android:name=".I40.I40_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I40.I41_HDR_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I50.I50_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I60.I60_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I60.I62_HDR_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I70.I70_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I70.I71_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I70.I72_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I70.I73_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I70.I74_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I70.I75_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I70.I76_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I70.I77_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I70.I78_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".I70.I79_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".M10.M10_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".M10.M11_HDR_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".M10.M11_DTL_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".M10.M12_QUERY_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".M20.M20_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".M20.M21_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".M20.M21_HDR_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".M20.M21_DTL_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".M20.M22_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".M20.M22_QUERY_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".M20.M23_HDR_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".M20.M23_DTL_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".M30.M30_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".M30.M31_HDR_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".S10.S10_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".S10.S11_QUERY_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".S10.S12_HDR_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".S10.S12_DTL_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".S10.S14_HDR_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".S10.S14_DTL_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".S10.S15_QUERY_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".S10.S16_HDR_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".S10.S16_DTL_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".S10.S17_HDR_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".P10.P10_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".P10.P14_QUERY_ELSE_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".P10.P14_QUERY_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".P10.P14_PROD_ORDER_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".P10.P14_SAVE2_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".P10.P14_SAVE_Activity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <!-- 안드로이드 7.0 버전 이상 부터는. 파일 경로 보안처리를해주어야 합니다. -->
        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.example.EM_KOREA.myapplication.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/filepaths" />
        </provider>

        <activity android:name=".RegisterActivity" />
        <activity
            android:name=".ConfigActivity"
            android:screenOrientation="portrait" /> <!-- 세로고정 -->
        <activity
            android:name=".TestPopupActivity"
            android:theme="@style/halfDim" />
        <activity
            android:name=".TestProgressBarActivity"
            android:theme="@style/halfDim" />
        <activity
            android:name=".ErrorPopupActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ErrorPopupActivity2"
            android:theme="@android:style/Theme.Dialog" />
    </application>

</manifest>